<%- include("header") %> 
  <section class="first-section" id="aboutme">
    <div class="container">
      <h1 class = "heading">About this project</h1>
      <p class = "adjust">[<a href="/editabout">Edit</a>]</p>
      <hr>
      <p><%= th_about["about"] %></p>
    </div>
  </section>

  <section id="biography">
    <div class="container">
      <h1 class = "heading">Stories</h1>
      <p class = "adjust">[<a href="/edit">Edit</a>]</p>
      <p class = "adjust">[<a href="/add">Add</a>]   </p>
      <hr>
      <div class="list-stories">
        <% for (i = th_list_stories.length - 1; i >= 0; i -= 1) { let story = th_list_stories[i] %> 
          <h2 class="heading"><%= story['title'] %></h2>
          <p class="adjust created-at">Created at : <%= story.created_time.getFullYear()+'-'+(story.created_time.getMonth()+1)+'-'+story.created_time.getDate()+" "+story.created_time.getHours() + ":" + story.created_time.getMinutes() + ":" + story.created_time.getSeconds() %></p>
          <p class="story-content"><%= story.content.slice(0,100) %>... <a href="/stories/<%= story['id'] %>">Read more</a></p>
        <% } %> 
      </div>

    </div>
  </section>


<%- include("footer")  %> 